extends layout

block content
  h1= title

  form(id='FoodForm', action="/resource/food", method="POST")
    div.form-group
        label.foodAttr(for='foodquantity') Food quantity
        input#foodquantity(type='text', name='foodquantity')
    div.form-group
        label.foodAttr(for='foodprice') Food price
        input#foodprice(type='number', name='foodprice')
    div.form-group
        label.foodAttr(for='foodcolor') Food color
        input#foodcolor(type='text', name='foodcolor')
    input(type="submit")

  script.
    document.forms['FoodForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
