extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let foodid = toShow._id
    - let foodquantity = toShow.foodquantity
    - let foodprice = toShow.foodprice
    - let foodcolor = toShow.foodcolor
    
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{foodid}
    - let actionid = "/resource/food/" + foodid
    form(id='FoodForm', action= actionid, method="PUT")
      div.form-group
          label.foodAttr(for='foodquantity') Food quantity
          input#foodquantity(type='text', name='foodquantity', value= foodquantity )
      div.form-group
          label.foodAttr(for='foodprice') Food price
          input#foodprice(type='number', name='foodprice', value= foodprice )
      div.form-group
          label.foodAttr(for='foodcolor') Food color
          input#foodcolor(type='text', name='foodcolor', value= foodcolor )
      input(type="submit")

    script.
      document.forms['FoodForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error )
        });
      });
